<h1>List of books</h1>

<% @books.each do |book|%>

    <div style="margin: 20px; border: 1px solid black">   
    <h2><%= book.title %></h2>
    <p><%=  book.author%></p>
    <%= link_to 'Edit Record', edit_book_path(book.id)%>
    <%= link_to 'Delete Record', book_path(book.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>